.container {
    position: fixed;
    bottom: 12%;
    right: 5%;
}

.icon {
    border-radius: 50%;
    background-color: #007c74;
    color: black;
    padding: 6px;
    cursor: pointer;
    opacity: 80%;
}

.icon:hover {
    opacity: 60%;
}
